<app-section heading="About Me">
  <p>Hey there!</p>

  <p>I'm Zack Eaton, and as you might have already
    read in quite a number of places, I'm a designer, developer,
    photographer and a writer, and this website was made to showcase all of what I can do.</p>

  <p>I am an Information Systems & Technology graduate from the University of Missouri Saint Louis. 
    One thing I particularly enjoyed about majoring in Information Systems is that this field really 
    allows me to use both my technical skills like computer programming and my front facing business skills. 
    I am very passionate about data and analytics and I enjoy helping companies make better use of current data, 
    as well as collecting new data.</p>

  <p>I've participated in a variety of school events. Everything from hackathons, networking events, and even intermural pickleball. 
    I am an active member of The National Society of Leadership and Success, Information Systems Programming Club, CompTIA AITP, and Marketing Club. 
    I volunteered my film and editing skills to produce the original promotional video for the first UMSL Hack, which was a huge success. 
    UMSL Hack just put on its fourth hackathon in February 2020.</p>

  <p>I created this website so I could showcase all this and through this process, make it easier for you to connect
    with
    me. If you like what you saw, head over to the <a href="#contact">contact section</a> below and send me a text. I
    would love to hear from
    you!</p>
</app-section>
